<div class="border-2 border-gray-300 rounded-lg shadow-lg w-full sm:w-9/12 md:w-8/12 max-w-lg mx-auto p-8 bg-white">

    <form class="w-full space-y-4">
        <h1 class="text-3xl font-bold text-center text-gray-800">Create Account</h1>

        <!-- Firstname -->
        <label class="form-control w-full">
            <span class="block text-sm font-medium text-gray-700">Firstname</span>
            <input 
                type="text" 
                placeholder="Enter your firstname"
                class="mt-1 input input-bordered w-full rounded-md border-gray-300 focus:outline-none" 
                formControlName="firstname"
            />
        </label>

        <!-- Lastname -->
        <label class="form-control w-full">
            <span class="block text-sm font-medium text-gray-700">Lastname</span>
            <input 
                type="text" 
                placeholder="Enter your lastname"
                class="mt-1 input input-bordered w-full rounded-md border-gray-300 focus:outline-none" 
                formControlName="lastname"
            />
        </label>

        <!-- Email -->
        <label class="form-control w-full">
            <span class="block text-sm font-medium text-gray-700">Email</span>
            <input 
                type="email" 
                placeholder="Enter your email"
                class="mt-1 input input-bordered w-full rounded-md border-gray-300 focus:outline-none" 
                formControlName="email"
            />
        </label>

        <!-- Phone Number -->
        <label class="form-control w-full space-y-2">
            <span class="block text-sm font-medium text-gray-700">Phone Number</span>
            <input 
                type="text" 
                placeholder="Enter your phone number"
                class="mt-1 input input-bordered w-full rounded-md border-gray-300 focus:outline-none" 
                formControlName="phoneNumber"
            />
        </label>

        <!-- Password -->
        <label class="form-control w-full space-y-2">
            <span class="block text-sm font-medium text-gray-700">Password</span>
            <input 
                type="password" 
                placeholder="Enter your password"
                class="mt-1 input input-bordered w-full rounded-md border-gray-300 focus:outline-none" 
                formControlName="password"
            />
        </label>

        <!-- Confirm Password -->
        <label class="form-control w-full space-y-2">
            <span class="block text-sm font-medium text-gray-700">Confirm Password</span>
            <input 
                type="password" 
                placeholder="Confirm your password"
                class="mt-1 input input-bordered w-full rounded-md border-gray-300 focus:outline-none" 
                formControlName="confirmPassword"
            />
        </label>

        <!-- Submit Button -->
        <button type="submit" class="mt-6 w-full py-3 text-white bg-primary hover:bg-primary-dark rounded-md shadow-lg transition">
            Register
        </button>
    </form>

    <!-- Login Link -->
    <div class="mt-4 text-center">
        <p class="text-sm text-gray-600">
            Already have an account? 
            <a routerLink="/auth/sign-in" class="text-primary font-semibold hover:underline">Login</a>
        </p>
    </div>

</div>
